In [1]:
import pandas as pd 
df=pd.read_csv("Edited_dataset.csv")
df.head()

    BMI  calories  calories_burnt  Stress Levels  Label
0  33.6      1950             181            200      1
1  26.6      2600             460            100      2
2  27.4      2350             980            400      1
3  28.1      1850            1176            100      1
4  43.1      2900             560            200      2

In [2]:
target=df.Label
inputs=df.drop('Label',axis='columns')

In [3]:
len(inputs)

305

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [5]:
len(X_train)

244

In [6]:
len(X_test)

61

In [7]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

In [8]:
model.fit(X_train, y_train)

GaussianNB()

In [9]:
model.score(X_test,y_test)

0.8032786885245902

In [10]:
X_test[:10]

      BMI  calories  calories_burnt  Stress Levels
5    35.3      3100             660            400
98   23.8      2350             639            200
262  28.7      5050            1353            200
148  32.4      1950            1400            300
57   24.4      5400              32            300
303  36.6      4000            1841            400
266  30.0      2350             125            200
27   34.6      3600             275            200
217  34.2      2500            1000            200
213  33.2      2500            1599            100

In [11]:
y_test[:10]

5      2
98     1
262    3
148    1
57     4
303    3
266    1
27     2
217    1
213    1
Name: Label, dtype: int64

In [18]:
model.predict(X_test[:10])

array([1, 3, 1, 3, 3, 1, 3, 3, 1, 1], dtype=int64)

In [19]:
import pickle

In [21]:
filename= 'binge.pkl'
pickle.dump(model, open(filename,'wb'))

In [22]:
loaded_model = pickle.load(open(filename,'rb'))
loaded_model.predict(X_test)

array([1, 3, 1, 3, 3, 1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 2, 3,
       4, 3, 2, 2, 1, 3, 1, 1, 1, 2, 3, 3, 1, 1, 3, 3, 1, 3, 2, 3, 2, 3,
       3, 4, 3, 4, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [23]:
loaded_model = pickle.load(open(filename,'rb'))
loaded_model.predict([[49.0,7000,100,400]])

array([4], dtype=int64)